#---------------------------------------------------
# This file is Juju managed
#---------------------------------------------------
# ${NAGIOS_CONTEXT} ${SERVICE_DESCRIPTION}
command[${NRPE_CMD_NAME}]=${NRPE_CMD}

